/* IMPORT */
@import url("./util.css");

/* override bootstrap css */
p,
button {
  font-family: "Source Serif Pro", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

button {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  border: none;
  font-family: "Nunito", sans-serif;
  border-radius: 0 !important;
}

.btn-primary {
  background-color: #025959;
  border-color: #025959;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #03a696;
  border-color: #03a696;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

/* card */

.card,
.card-img-top {
  border: none;
  border-radius: 0;
}

.card {
  height: 100%;
}

.card img {
  object-fit: cover;
  object-position: center center;
}

.card-title {
  font-weight: 900;
}

/* HEADER SECTION */
header {
  background-image: linear-gradient(
      to right,
      rgba(5, 24, 33, 0.55) 0%,
      rgba(5, 24, 33, 0.45) 50%,
      transparent 50%
    ),
    url("https://images.pexels.com/photos/2310123/pexels-photo-2310123.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.header__title {
  font-size: 3.75rem;
  font-weight: 200;
}

.header-left {
  padding-right: 15rem;
}

header > nav a {
  color: black;
}

/* Profile */
.vl {
  border-left: 5px solid #025959;
  height: 500px;
}

/* FOOTER */

#footer {
  bottom: 0;
  width: 100%;
}

.nav {
  position: relative;
  right: 30px;
}
