/* background color */
.bg-primary {
  background-color: #025959 !important;
}

.bg-black {
  background-color: black;
}

/* text color */
.text-primary {
  color: #025959 !important;
}

.text-tertiary {
  color: #03a696 !important;
}
